@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap");

.App {
    text-align: center;
    color: #fff;
}

a {
    color: #fff !important;
}

section {
    display: block;
}

.page-section {
    padding: 4rem;
}

.dropdown-menu.show {
    left: -100px !important;
}
